# Created by https://www.toptal.com/developers/gitignore/api/c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# End of https://www.toptal.com/developers/gitignore/api/c++

# Executables du projet (pas d'extension, donc non couverts par les
# regles generiques ci-dessus)
Administrateur
Client
Serveur
CreationBD
BidonFichierPub
Publicite
Consultation
Modification

# Donnees generees lors des tests locaux
utilisateurs.dat
publicites.dat
